
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    font-size: 50px;

}

#clear{
    font-size: 30px;
    background-color: red;
    border-radius: 1rem;
}